.title{
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    font-size:30px;
}.table{
    margin:20px;
}
td {
    text-align:left;
    vertical-align: top;
    height:100px;
}
.left{
    width:200px;
}
.right{
    width:500px;
}
.name_input{
    display:flex;
}
.post-code{
    margin-left:10px;
}
.text{
    height:30px;
}
.must{
    color:red;
}
.last_name{
    margin-right:10px;
}
.label{
    font-weight:bold;
}
small{
    color:rgb(112, 112, 112)
}
.radio{
    transform:scale(2.0);
}
.gender-label{
    margin-right:50px;
}
.button{
    text-align: center;
    margin:25px auto;
    display:block;
    border:#000;
    border-radius: 5px;
    background-color: #000;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 150px;
}
.fix{
    display:block;
    margin:0 auto;
    text-align: center;
    /* border-bottom:1px solid rgb(100, 100, 100); */
    text-decoration: underline;
}

/*
table{
  border:3px black solid;
  border-collapse: collapse;
}
th,td{
  border:1px black solid;
} */
